@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&display=swap');

*{
    font-family: "Bebas Neue", sans-serif;
}

.container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}
.box{
    border: 2px solid;
    width: 500px;
    padding: 65px;
    border-radius: 12px;
    background-color: #344756;
}

body{
    background-color: #092032;
}

.timer-btns .btn{
    background-color: #ff4d29;
    padding: 6px 16px;
    font-size: 17px;
}
.timer-btns .btn:hover{
     background-color: #9a311c;
}
.box h2{
      font-family: "Bitcount Grid Single", system-ui;
      font-size: 700;
}
